#titleImg {
  max-width: 100px;
  height: auto;
}
#logoImg {
  max-width: 200px;
  height: auto;
}
 table {
    width: 100%;
    border-collapse: collapse;
  }
  .table td {
    border: 1px solid #bcbcbc;
    padding: 5px 10px;
  }